<%- include ../partials/header.ejs %>

 <br><br>
 <div  class="col-md-2"></div>
 <div style="background-color: rgb(226, 166, 55); border-radius: 10px;"  class="col-md-8">
 <center><h1>Login Credentials</h1>
 <br>
 <p>
    <div class="col-md-2"></div>
    <div class="col-md-8" style="bottom: 20px; background-color: rgb(230, 218, 165); border-radius: 10px;">
    <div class="col-md-6" style="left: 30px;">
    <h3>
    <p>email: 
    <br><br>password:
    </p><br>
    </h3>
    </div>
    <div class="col-md-6">
       <br><p><input type="text" id="emaila" class="in">
       <br><br><input type="password" id="pass" class="in">
       </p>
    </div>
    <br>
    <button type="button"><a href="/" style="color: rgb(24, 23, 19);">login</a></button>
    <br><br>
    </center>
  </div>
  <div class="col-md-2"></div>
 <div class="col-md-12">
</p><br>
 <br>
 </div>
 </div>
 <div  class="col-md-2">
 </div>
 
 <p><br>
    <br></p>
<%- include ../partials/footer.ejs %>
